<div class="list-single-header_bottom fl-wrap">
    <a class="listing-item-category-wrap" href="https://townhub.kwst.net/listing-single.html#">
        <div class="listing-item-category  red-bg"><i class="fal fa-cheeseburger"></i></div>
        <span>Restaurants</span>
    </a>
    <div class="list-single-author"> <a href="https://townhub.kwst.net/author-single.html"><span class="author_avatar"> <img alt="" src="./Townhub - Directory Listing Template_files/5.jpg">  </span>By  Alisa Noory</a></div>
    <div class="geodir_status_date gsd_open"><i class="fal fa-lock-open"></i>Open Now</div>
    <div class="list-single-stats">
        <ul class="no-list-style">
            <li><span class="viewed-counter"><i class="fas fa-eye"></i> Viewed -  156 </span></li>
            <li><span class="bookmark-counter"><i class="fas fa-heart"></i> Bookmark -  24 </span></li>
        </ul>
    </div>
</div>