---
  import ItemContentBannerComponent from '../Item/ItemContentBannerComponent.astro';    
  import ItemContainerComponent from '../Item/ItemContainerComponent.astro';    
  import ItemMenuContent from '../Item/ItemMenuContent.astro';   
  import ItemBreadsCrumsComponent from '../Item/ItemBreadsCrumsComponent.astro';   
  
  
---

<div class="content">
    <section class="listing-hero-section hidden-section" data-scrollax-parent="true" id="sec1">

        <ItemContentBannerComponent />
        <ItemContainerComponent />
        <ItemMenuContent />
        <ItemBreadsCrumsComponent/>
    </section>
</div>