---
  import ItemContainerBannerDescriptionComponent from '../Item/ItemContainerBannerDescriptionComponent.astro';    
---

<div class="container">
    <ItemContainerBannerDescriptionComponent />
</div>