---
import TattoLayout from '../layouts/TattoLayout.astro';
import HeaderComponent from '../components/HeaderComponent.astro';
---
<TattoLayout>
	<div id="main" style="opacity: 1;">
		<HeaderComponent />
		<p>Vamos testar!</p>
	</div>
  
</TattoLayout>