---
import TattoLayout from '../layouts/TattoLayout.astro';
import HeaderComponent from '../components/HeaderComponent.astro';
import ContentComponent from '../components/ContentComponent.astro';
---
<TattoLayout>
	<div id="main" style="opacity: 1;">
		
		<HeaderComponent />
		<ContentComponent />

		<p>Vamos testar!</p>
	</div>  
</TattoLayout>