---
import ContentBannerComponent from '../components/ContentBannerComponent.astro';
import ContentBodyComponent from '../components/ContentBodyComponent.astro';
---
<!-- wrapper-->
<div id="wrapper">
    <!-- content-->
    <div class="content">
        <ContentBannerComponent />
        <ContentBodyComponent />

        <div class="limit-box fl-wrap"></div>
    </div>
    <!--content end-->
</div>
<!-- wrapper end-->        