---      
 import ContentBreadCrumbsComponent from '../components/ContentBreadCrumbsComponent.astro';    
 import ContentFiltroComponent from '../components/ContentFiltroComponent.astro';    
 import ContentBeneficiosComponent from '../components/ContentBeneficiosComponent.astro';    
---
<!--  section  -->
<section class="gray-bg small-padding no-top-padding-sec" id="sec1">

    <div class="container">

        <ContentBreadCrumbsComponent />
        

        <div class="mob-nav-content-btn  color2-bg show-list-wrap-search ntm fl-wrap"><i class="fal fa-filter"></i>  savastane Andrade
        </div>

        <div class="fl-wrap">

            <div class="row">

                <ContentFiltroComponent /> 
                <ContentBeneficiosComponent />

            </div>

        </div>

    </div>

</section>
<!--  section  end-->
  <!-- <style>
.gray-bg {
  background: #f6f6f6;
}

.small-padding {
	padding:50px 0;
}

.no-top-padding-sec {
	padding-top:0;
}

.content {
  @apply w-full relative z-[4] float-left overflow-hidden;
  background: #fff;
}
.mob-nav-content-btn {
  @apply text-white cursor-pointer hidden mb-[15px] px-0 py-[15px] rounded-md;
}
.mncb_half {
  @apply w-6/12 box-border mt-[30px] rounded-[0_6px_6px_0] first:rounded-[6px_0_0_6px] first:border-r-[rgba(0,0,0,0.21)] first:border-r first:border-solid;
}
.mob-nav-content-btn.slsw_vis i {
  @apply text-white;
}
.mob-nav-content-btn i {
  @apply mr-3;
}

.color2-bg,
.list-widget-social li a:hover,
.accordion a.toggle.act-accordion,
.banner-wdget-content a:hover,
.inline-lsiw .listsearch-input-wrap_contrl li.current a,
.cc-btn:hover,
.down-btn:hover,
.new-dashboard-item:hover,
.header-search-button:hover,
.lg-actions .lg-next,
.lg-actions .lg-prev,
.box-media-zoom:hover,
.main-search-button {
  /* background: #384F95; */
  /* // botao back */
  background: #814602;
}

.ntm {
	margin-top:0;
}


.fl-wrap {
	float:left;
	width:100%;
	position:relative;
}

.row {
    margin-left: -15px;
    margin-right: -15px
}


.fa-filter:before {
    content: "\f0b0"
}

  </style> -->