---      
    
---
  
<div class="pagination fwmpag">
    <a href="https://townhub.kwst.net/listing5.html#" class="prevposts-link"><i class="fas fa-caret-left"></i><span>Prev</span></a>
    <a href="https://townhub.kwst.net/listing5.html#">1</a>
    <a href="https://townhub.kwst.net/listing5.html#" class="current-page">2</a>
    <a href="https://townhub.kwst.net/listing5.html#">3</a>
    <a href="https://townhub.kwst.net/listing5.html#">...</a>
    <a href="https://townhub.kwst.net/listing5.html#">7</a>
    <a href="https://townhub.kwst.net/listing5.html#" class="nextposts-link"><span>Next</span><i class="fas fa-caret-right"></i></a>
 </div>

<style>
.color-bg   , .nice-select .option.selected.focus , .nav-holder nav li a:before , .section-separator:before  , .footer-widget h3:before  ,   .cluster div , .pagination a.current-page, .pagination a:hover  ,  .irs-bar , .irs-slider ,  .irs-bar-edge  , .catcar-scrollbar .swiper-scrollbar-drag , .checket-cat:after , .scroll-nav li a.act-scrlink:before  , .listing-carousel_pagination .swiper-pagination-bullet.swiper-pagination-bullet-active , .box-media-zoom , .daterangepicker td.active , .list-widget-social li a , .btn.border-btn:hover  , .chat-message.chat-message_user p  , .chat-widget-button   , .tags-stylwrap a:hover , .custom-form .quantity input.qty , .listing-hero-section .list-single-header-item h1:before , .box-item a , .menu-filters a.menu-filters-active , .promo-link i , .ss-slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active , .accordion a.toggle span , .search-widget .search-submit:hover   , .reply-item:hover , #progressbar li.active span , #progressbar li:before , .user-profile-menu li a.user-profile-act:before , .new-dashboard-item  , .dashboard-title:before , .dhs-controls div:hover , .message-counter , .chat-contacts-item:after , .tc-pagination   .swiper-pagination-bullet.swiper-pagination-bullet-active , .tc-pagination2  .swiper-pagination-bullet.swiper-pagination-bullet-active , .down-btn i   , .listing-filters  a.gallery-filter-active , .single-facts_2 .inline-facts-wrap:before  , .single-social li  a   , .mob-nav-content-btn.slsw_vis  , .infobox-status , .header-search_container .header-search-button:hover , .pac-item:hover  , .process-item_time-line:before  , .lg-actions .lg-next:hover, .lg-actions .lg-prev:hover , .listing-item-grid_title h3:before {
	background:#4DB7FE;
}
pagination {
	margin-top:30px;
	text-align:center;
	float:left;
	width:100%;
}
.pagination  a {
	display:inline-block;
	width:44px;
	height:44px;
	line-height:44px;
	border-radius:6px;
 	border:1px solid #eee;
	box-sizing:border-box;
	position:relative;
	font-size:13px;
	color:#888DA0;
	background:#fff;
}
.pagination a.current-page, .pagination a:hover {
    color:#fff;
}
.pagination  a i {
	font-size:12px;
}
.pagination  a.prevposts-link {
	margin-right:20px;
}
.pagination  a.nextposts-link {
	margin-left:20px;
}
.pagination  a.prevposts-link , .pagination  a.nextposts-link{
	width: auto;
	padding:0 30px;
}
.pagination  a.prevposts-link span {
	float:right;
	margin-left:10px;
}
.pagination  a.nextposts-link span {
	float:left;
	margin-right:10px;
}
.col-list-wrap .pagination , .fwmpag {
	margin-bottom:0;
	margin-top:20px;
}
</style>
