---      
 import ContentBreadCrumbsComponent from '../components/ContentBreadCrumbsComponent.astro';    
 import ContentFiltroComponent from '../components/ContentFiltroComponent.astro';    
 import ContentBeneficiosComponent from '../components/ContentBeneficiosComponent.astro';    
---
<!--  section  -->
<section class="gray-bg small-padding no-top-padding-sec" id="sec1">

    <div class="container">

        <ContentBreadCrumbsComponent />
        

        <div class="mob-nav-content-btn  color2-bg show-list-wrap-search ntm fl-wrap"><i class="fal fa-filter"></i>  savastane Andrade
        </div>

        <div class="fl-wrap">

            <div class="row">

                <!-- <ContentFiltroComponent /> -->
                <ContentBeneficiosComponent />

            </div>

        </div>

    </div>

</section>
<!--  section  end-->