---
import ContentBannerComponent from '../components/ContentBannerComponent.astro';
import ContentBodyComponent from '../components/ContentBodyComponent.astro';
---
<!-- wrapper-->
<div id="wrapper">
    <!-- content-->
    <div class="content">
        <ContentBannerComponent />
        <ContentBodyComponent />

        <div class="limit-box fl-wrap"></div>
    </div>
    <!--content end-->
</div>
<!-- wrapper end-->        

<!-- <style>

#wrapper {
  @apply float-left w-full relative z-[25] pt-20;
}
.content {
  @apply w-full relative z-[4] float-left overflow-hidden;
  background: #fff;
}

</style> -->
