---
   
---
    <!-- lang-wrap end-->                                 
    <!-- nav-button-wrap--> 
    <div class="nav-button-wrap color-bg">
        <div class="nav-button">
            <span></span><span></span><span></span>
        </div>
    </div>
    <!-- nav-button-wrap end-->
    <!--  navigation --> 
    <div class="nav-holder main-menu">
        <nav>
            <ul class="no-list-style">
                <li>
                    <a href="https://townhub.kwst.net/listing5.html#">Estética <i class="fa fa-caret-down"></i></a>
                    <!--second level -->   
                    <ul>
                        <li><a href="https://townhub.kwst.net/index.html">Parallax Image</a></li>
                        <li><a href="https://townhub.kwst.net/index2.html">Slider</a></li>
                        <li><a href="https://townhub.kwst.net/index3.html">Slideshow</a></li>
                        <li><a href="https://townhub.kwst.net/index4.html">Video</a></li>
                        <li><a href="https://townhub.kwst.net/index5.html">Map</a></li>
                        <li><a href="https://townhub.kwst.net/rtl/index.html" target="_blank">RTL Version</a></li>
                    </ul>
                    <!--second level end-->
                </li>
                <li>
                    <a href="https://townhub.kwst.net/listing5.html#" class="act-link">Tattos <i class="fa fa-caret-down"></i></a>
                    <!--second level -->
                    <ul>
                        <li><a href="https://townhub.kwst.net/listing.html">Column map</a></li>
                        <li><a href="https://townhub.kwst.net/listing2.html">Column map 2</a></li>
                        <li><a href="https://townhub.kwst.net/listing3.html">Fullwidth Map</a></li>
                        <li><a href="https://townhub.kwst.net/listing4.html">Fullwidth Map 2</a></li>
                        <li><a href="https://townhub.kwst.net/listing5.html">Without Map</a></li>
                        <li><a href="https://townhub.kwst.net/listing6.html">Without Map 2</a></li>
                        <li>
                            <a href="https://townhub.kwst.net/listing5.html#">Single <i class="fa fa-caret-down"></i></a>
                            <!--third  level  -->
                            <ul>
                                <li><a href="https://townhub.kwst.net/listing-single.html">Style 1</a></li>
                                <li><a href="https://townhub.kwst.net/listing-single2.html">Style 2</a></li>
                                <li><a href="https://townhub.kwst.net/listing-single3.html">Style 3</a></li>
                                <li><a href="https://townhub.kwst.net/listing-single4.html">Style 4</a></li>
                            </ul>
                            <!--third  level end-->
                        </li>
                    </ul>
                    <!--second level end-->
                </li>
                <li>
                    <a href="https://townhub.kwst.net/blog.html">Pets</a>
                </li>
                <li>
                    <a href="https://townhub.kwst.net/listing5.html#">Terapias <i class="fa fa-caret-down"></i></a>
                    <!--second level -->   
                    <ul>
                        <li>
                            <a href="https://townhub.kwst.net/listing5.html#">Shop<i class="fa fa-caret-down"></i></a>
                            <!--third  level  -->
                            <ul>
                                <li><a href="https://townhub.kwst.net/shop.html">Products</a></li>
                                <li><a href="https://townhub.kwst.net/product-single.html">Product single</a></li>
                                <li><a href="https://townhub.kwst.net/cart.html">Cart</a></li>
                            </ul>
                            <!--third  level end-->
                        </li>
                        <li><a href="https://townhub.kwst.net/about.html">About</a></li>
                        <li><a href="https://townhub.kwst.net/contacts.html">Contacts</a></li>
                        <li><a href="https://townhub.kwst.net/author-single.html">User single</a></li>
                        <li><a href="https://townhub.kwst.net/help.html">How it Works</a></li>
                        <li><a href="https://townhub.kwst.net/booking.html">Booking</a></li>
                        <li><a href="https://townhub.kwst.net/pricing-tables.html">Pricing</a></li>
                        <li><a href="https://townhub.kwst.net/dashboard.html">User Dasboard</a></li>
                        <li><a href="https://townhub.kwst.net/blog-single.html">Blog Single</a></li>
                        <li><a href="https://townhub.kwst.net/dashboard-add-listing.html">Add Listing</a></li>
                        <li><a href="https://townhub.kwst.net/invoice.html">Invoice</a></li>
                        <li><a href="https://townhub.kwst.net/login-sign.html">login Sign</a></li>
                        <li><a href="https://townhub.kwst.net/404.html">404</a></li>
                    </ul>
                    <!--second level end-->                                
                </li>
            </ul>
        </nav>
    </div>

 <!-- <style>

/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.color-bg,
.nice-select .option.selected.focus,
.nav-holder nav li a:before,
.section-separator:before,
.footer-widget h3:before,
.cluster div,
.pagination a.current-page,
.pagination a:hover,
.irs-bar,
.irs-slider,
.irs-bar-edge,
.catcar-scrollbar .swiper-scrollbar-drag,
.checket-cat:after,
.scroll-nav li a.act-scrlink:before,
.listing-carousel_pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active,
.box-media-zoom,
.daterangepicker td.active,
.list-widget-social li a,
.btn.border-btn:hover,
.chat-message.chat-message_user p,
.chat-widget-button,
.tags-stylwrap a:hover,
.custom-form .quantity input.qty,
.listing-hero-section .list-single-header-item h1:before,
.box-item a,
.menu-filters a.menu-filters-active,
.promo-link i,
.ss-slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active,
.accordion a.toggle span,
.search-widget .search-submit:hover,
.reply-item:hover,
#progressbar li.active span,
#progressbar li:before,
.user-profile-menu li a.user-profile-act:before,
.new-dashboard-item,
.dashboard-title:before,
.dhs-controls div:hover,
.message-counter,
.chat-contacts-item:after,
.tc-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active,
.tc-pagination2 .swiper-pagination-bullet.swiper-pagination-bullet-active,
.down-btn i,
.listing-filters a.gallery-filter-active,
.single-facts_2 .inline-facts-wrap:before,
.single-social li a,
.mob-nav-content-btn.slsw_vis,
.infobox-status,
.header-search_container .header-search-button:hover,
.pac-item:hover,
.process-item_time-line:before,
.lg-actions .lg-next:hover,
.lg-actions .lg-prev:hover,
.listing-item-grid_title h3:before {
  background: #4db7fe;
}
.no-list-style {
  font-family: "Roboto";
}
.nav-button-wrap {
  @apply float-right h-9 w-9 cursor-pointer relative rounded hidden mr-4 top-6 float-right h-9 w-9 cursor-pointer relative rounded hidden mr-4 top-6;
}
.nav-button {
  @apply absolute w-[22px] h-5 ml-[-11px] -mt-1.5 left-2/4 top-2/4 absolute w-[22px] h-5 ml-[-11px] -mt-1.5 left-2/4 top-2/4;
}
.nav-holder {
  @apply float-left relative opacity-100 visible z-20 ml-10 right-0 top-[18px];
}
.nav-holder nav {
  @apply relative float-right;
}
.nav-holder nav li {
  @apply float-left relative h-[50px] ml-1.5;
}
.nav-holder nav li ul {
  @apply opacity-0 invisible absolute min-w-[150px] z-[1] border transition-all duration-[0.2s] ease-[ease-in-out] mt-[30px] mb-0 mx-0 px-0 py-2.5 rounded-md border-solid border-[#eee] left-0 top-[50px];
  background: #fff;
  list-style: none;
}
.nav-holder nav li:hover > ul {
  @apply opacity-100 visible m-0;
}
.nav-holder nav li ul li ul {
  @apply max-w-[150px] ml-[25px] mt-0 -left-full -top-2.5;
  list-style: none;
}
.nav-holder nav li ul li:hover > ul {
  @apply opacity-100 visible mr-0;
}
.nav-holder nav li ul li {
  @apply w-full float-left h-auto relative;
}
.nav-holder nav li a {
  @apply float-left text-[13px] not-italic font-semibold normal-case leading-[25px] tracking-[0px] text-white transition-all duration-100 ease-linear p-2.5;
}
.nav-holder nav li a i {
  @apply transition-all duration-200 ease-linear pl-1.5;
}
.nav-holder nav li a:hover i {
  transform: rotateX(180deg);
}
.nav-holder nav li ul a {
  @apply text-[#566985] float-left w-full font-medium text-left px-[15px] py-[5px];
}
nav li ul a:before,
nav li ul a:after {
  @apply hidden;
}
.nav-button span {
  @apply float-left w-full h-0.5 rounded transition-all duration-200 ease-linear mb-1;
  background: #fff;
}
.nav-button-wrap.vismobmenu_btn span {
  @apply hidden;
}
.nav-button-wrap.vismobmenu_btn:before {
  @apply content-["\f00d"] absolute text-white text-lg font-thin left-3 top-2;
  font-family: Font Awesome\5 Pro;
}

</style>  -->