---  
  import imgReference from '../assets/images/logo.png?url'; 
---


<a href="/" class="logo-holder"><img src={imgReference} alt="teste"></a>

<style>

 .logo-holder {
	float:left;
	height:30px;
	position:relative;
	top:20px;
}
.logo-holder img {
	width:auto;
	height:100%;
}

</style>
