---
import '../assets/css/plugins.css';
import LoaderComponent from '../components/LoaderComponent.astro';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        
		<title>Levell :: Tattoo  </title>
	</head>
	<body>
        <!-- <LoaderComponent />  -->
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
		<h1>Tattoo</h1>
        <slot/>
	</body>
</html>
